[submodule "backend"]
	path = backend
	url = https://github.com/rylsherdamz-rgb/ayuda-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/rylsherdamz-rgb/stellar-frontend.git
